<ion-header fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar mode="ios" [(ngModel)]="searchText" (ionInput)="search()" (ionCancel)="search()"></ion-searchbar>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen id="weaponlist">
  <div *ngIf="!loading">
    <div [id]="weapon.name" class="weapon" [class.selected]="isSelected(weapon)" (click)="toggleWeapon(weapon)"
      *ngFor="let weapon of weapons">

      <span class="weaponType">{{weapon.type}}</span>
      <span class="weaponName">{{weapon.name}}</span>

      <div class="statsContainer">
        <div class="labelContainer">
          <span class="label damage">Damage</span>
          <span class="label speed">Velocity</span>
          <span class="label clip">Clip Size</span>
          <span class="label tbs">TBS</span>
        </div>

        <div class="barContainer">
          <div class="bar damage"></div>
          <div [style]="'width: ' + weaponStats[weapon.type][weapon.name]['damage'] + '%;'" class="bar damage active">
          </div>

          <div class="bar speed"></div>
          <div [style]="'width: ' + weaponStats[weapon.type][weapon.name]['speed'] + '%;'" class="bar speed active">
          </div>

          <div class="bar clip"></div>
          <div [style]="'width: ' + weaponStats[weapon.type][weapon.name]['clip'] + '%;'" class="bar clip active"></div>

          <div class="bar tbs"></div>
          <div [style]="'width: ' + weaponStats[weapon.type][weapon.name]['tbs'] + '%;'" class="bar tbs active"></div>
        </div>
      </div>

      <img class="sprite weaponImage" [src]="getWeaponIcon(weapon, false)" />
    </div>

    <!-- <div class="container graph">
      <swiper-container style="height: 100%;">
        <swiper-slide>
          <span class="title">Damage Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataDamage"
            [options]="lineChartOptionsDMG" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
        <swiper-slide>
          <span class="title">Velocity Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataVelocity"
            [options]="lineChartOptionsVel" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
      </swiper-container>
    </div> -->
  </div>

  <!-- <div id="tableContainer">
      <table>
        <thead>
          <tr>
            <th>Distance</th>
            <th *ngFor="let weapon of pubgData.weapons">{{weapon.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distance of distances">
            <td class="distanceCell">{{distance}}</td>
            <td class="damageCell" *ngFor="let weapon of pubgData.weapons">
              {{calcDamage(weapon, {distance}) | number:'1.1-1'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</ion-content>
