ion-content {
  --padding-top: 10px;
  --padding-bottom: 15px;
}

/* ---------------------------------- */
/*            WEAPON SELECT           */
/* ---------------------------------- */

.weapon {
  position: relative;
  cursor: pointer;
  height: 120px;
  background-color: var(--ion-color-light);
  margin: 8px 15px;
  font-weight: bold;
  border-radius: var(--borderRadius);
  transition: background-color 0.2s ease-out;
  box-shadow: 0 0 10px 0 rgba(var(--ion-color-tertiary-rgb), 0.05);
  border: 2px solid var(--ion-color-light);
  user-select: none;

  & img {
    height: 100%;
    aspect-ratio: 1/1;
  }
  & img.icon {
    height: 80%;
    margin: 3px 0px;
    margin-right: 3px;
  }

  & span.weaponType {
    position: absolute;
    color: var(--ion-color-step-text-400);
    top: 7px;
    left: 10px;
    font-size: 0.7em;
  }
  & span.weaponName {
    position: absolute;
    color: var(--ion-color-primary);
    font-weight: bold;
    top: 22px;
    left: 10px;
    font-size: 1em;
  }
  & img.weaponImage {
    position: absolute;
  }

  & .statsContainer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 50%;
    height: 60px;
    background-color: rgba(var(--ion-color-tertiary-rgb), 0.075);
    border-radius: var(--borderRadius2);
    border: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.2);
    box-sizing: content-box;
    max-width: 300px;

    & .labelContainer {
      position: absolute;
      left: 6px;
      width: calc(30% - 6px);
      height: 100%;

      & span {
        display: block;
        height: 25%;
        line-height: 14px;
        width: 100%;
        font-size: 8px;
        text-align: left;
      }

      & span.damage {
        color: var(--ion-color-danger);
      }
      & span.speed {
        color: var(--ion-color-warning);
      }
      & span.clip {
        color: var(--ion-color-primary);
      }
      & span.tbs {
        color: var(--ion-color-success);
      }
    }

    & .barContainer {
      position: absolute;
      right: 6px;
      height: 100%;
      width: calc(70% - 6px);

      & .bar {
        height: 7px;
        position: absolute;
        width: 100%;
        border-radius: var(--borderRadius);
      }

      & .bar.damage {
        top: calc((0 * 15px) + 4px);
        background: rgba(var(--ion-color-danger-rgb), 0.2);
      }
      & .bar.active.damage {
        background: rgba(var(--ion-color-danger-rgb), 1);
      }
      & .bar.speed {
        top: calc((1 * 15px) + 4px);
        background: rgba(var(--ion-color-warning-rgb), 0.2);
      }
      & .bar.active.speed {
        background: rgba(var(--ion-color-warning-rgb), 1);
      }
      & .bar.clip {
        top: calc((2 * 15px) + 4px);
        background: rgba(var(--ion-color-primary-rgb), 0.2);
      }
      & .bar.active.clip {
        background: rgba(var(--ion-color-primary-rgb), 1);
      }
      & .bar.tbs {
        top: calc((3 * 15px) + 4px);
        background: rgba(var(--ion-color-success-rgb), 0.2);
      }
      & .bar.active.tbs {
        background: rgba(var(--ion-color-success-rgb), 1);
      }
    }
  }
}

.weapon.selected {
  background-color: rgba(var(--ion-color-tertiary-rgb), 0.1);
  border: 2px solid rgba(var(--ion-color-tertiary-rgb), 0.25);

  & span.weaponType {
    color: rgba(var(--ion-color-tertiary-rgb), 0.7);
  }
}

.weaponImage {
  --rightMargin: 8px;
  --topMargin: 10px;
}

.weapon#ACE32 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(-3px + var(--rightMargin));
  top: calc(-46px + var(--topMargin));
}

.weapon#AKM .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(-1px + var(--rightMargin));
  top: calc(-50px + var(--topMargin));
}

.weapon#AUG .weaponImage {
  transform: rotate(-38.8deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#AWM .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-50px + var(--topMargin));
}

.weapon#Beryl\ M762 .weaponImage {
  transform: rotate(-41deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-45px + var(--topMargin));
}

.weapon#Crossbow .weaponImage {
  transform: rotate(-37deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#DBS .weaponImage {
  transform: rotate(-39.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-43px + var(--topMargin));
}

.weapon#DP-28 .weaponImage {
  transform: rotate(-41deg);
  right: calc(8px + var(--rightMargin));
  top: calc(-44px + var(--topMargin));
}

.weapon#Deagle .weaponImage {
  transform: rotate(-33deg);
  right: calc(-15px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#Dragunov .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(3px + var(--rightMargin));
  top: calc(-50px + var(--topMargin));
}

.weapon#Famas .weaponImage {
  transform: rotate(-45deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-42px + var(--topMargin));
}

.weapon#G36C .weaponImage {
  transform: rotate(-41deg);
  right: calc(-4px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#Groza .weaponImage {
  transform: rotate(-45.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-37px + var(--topMargin));
}

.weapon#JS9 .weaponImage {
  transform: rotate(-45deg);
  right: calc(3px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#K2 .weaponImage {
  transform: rotate(-42deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-49px + var(--topMargin));
}

.weapon#Kar98k .weaponImage {
  transform: rotate(-39deg);
  right: calc(-3px + var(--rightMargin));
  top: calc(-48px + var(--topMargin));
}

.weapon#LynxAMR .weaponImage {
  transform: rotate(-42deg);
  right: calc(7px + var(--rightMargin));
  top: calc(-47px + var(--topMargin));
}

.weapon#M16A4 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(-2px + var(--rightMargin));
  top: calc(-46px + var(--topMargin));
}

.weapon#M24 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-50px + var(--topMargin));
}

.weapon#M249 .weaponImage {
  transform: rotate(-41deg);
  right: calc(-1px + var(--rightMargin));
  top: calc(-44px + var(--topMargin));
}

.weapon#M416 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-48px + var(--topMargin));
}

.weapon#MG3 .weaponImage {
  transform: rotate(-42deg);
  right: calc(9px + var(--rightMargin));
  top: calc(-48px + var(--topMargin));
}

.weapon#MK12 .weaponImage {
  transform: rotate(-42deg);
  right: calc(5px + var(--rightMargin));
  top: calc(-47px + var(--topMargin));
}

.weapon#MK14 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(5px + var(--rightMargin));
  top: calc(-49px + var(--topMargin));
}

.weapon#MP5K .weaponImage {
  transform: rotate(-37deg);
  right: calc(-13px + var(--rightMargin));
  top: calc(-31px + var(--topMargin));
}

.weapon#MP9 .weaponImage {
  transform: rotate(-37.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#Micro\ UZI .weaponImage {
  transform: rotate(-37deg);
  right: calc(-14px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#Mini-14 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(4px + var(--rightMargin));
  top: calc(-47px + var(--topMargin));
}

.weapon#Mosin\ Nagant .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-49px + var(--topMargin));
}

.weapon#Mutant\ MK47 .weaponImage {
  transform: rotate(-41deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#O12 .weaponImage {
  transform: rotate(-44deg);
  right: calc(2px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#P18C .weaponImage {
  transform: rotate(-33deg);
  right: calc(-19px + var(--rightMargin));
  top: calc(-35px + var(--topMargin));
}

.weapon#P1911 .weaponImage {
  transform: rotate(-31deg);
  right: calc(-20px + var(--rightMargin));
  top: calc(-38px + var(--topMargin));
}

.weapon#P90 .weaponImage {
  transform: rotate(-42.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-32px + var(--topMargin));
}

.weapon#P92 .weaponImage {
  transform: rotate(-34deg);
  right: calc(-21px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#PP-19\ Bizon .weaponImage {
  transform: rotate(-40deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#QBU .weaponImage {
  transform: rotate(-41deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-45px + var(--topMargin));
}

.weapon#QBZ .weaponImage {
  transform: rotate(-42deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-43px + var(--topMargin));
}

.weapon#R1895 .weaponImage {
  transform: rotate(-37deg);
  right: calc(-18px + var(--rightMargin));
  top: calc(-41px + var(--topMargin));
}

.weapon#R45 .weaponImage {
  transform: rotate(-32deg);
  right: calc(-11px + var(--rightMargin));
  top: calc(-39px + var(--topMargin));
}

.weapon#S12K .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-51px + var(--topMargin));
}

.weapon#S1897 .weaponImage {
  transform: rotate(-37deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-49px + var(--topMargin));
}

.weapon#S686 .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-49px + var(--topMargin));
}

.weapon#SCAR-L .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-43px + var(--topMargin));
}

.weapon#SKS .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-49px + var(--topMargin));
}

.weapon#SLR .weaponImage {
  transform: rotate(-42deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-52px + var(--topMargin));
}

.weapon#Sawed-Off .weaponImage {
  transform: rotate(-38deg);
  right: calc(6px + var(--rightMargin));
  top: calc(-44px + var(--topMargin));
}

.weapon#Skorpion .weaponImage {
  transform: rotate(-37deg);
  right: calc(-13px + var(--rightMargin));
  top: calc(-35px + var(--topMargin));
}

.weapon#Tommy\ Gun .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-47px + var(--topMargin));
}

.weapon#UMP45 .weaponImage {
  transform: rotate(-38deg);
  right: calc(-4px + var(--rightMargin));
  top: calc(-44px + var(--topMargin));
}

.weapon#VSS .weaponImage {
  transform: rotate(-40.5deg);
  right: calc(0px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#Vector .weaponImage {
  transform: rotate(-37deg);
  right: calc(-2px + var(--rightMargin));
  top: calc(-40px + var(--topMargin));
}

.weapon#Win94 .weaponImage {
  transform: rotate(-38deg);
  right: calc(5px + var(--rightMargin));
  top: calc(-43px + var(--topMargin));
}
