<ion-header fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar mode="ios" [(ngModel)]="searchText" (ionInput)="search()" (ionCancel)="search()"></ion-searchbar>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen id="weaponlist">
  <div *ngIf="!loading">
    <div [id]="weapon.name" class="weapon" [class.selected]="isSelected(weapon)" (click)="toggleWeapon(weapon)"
      *ngFor="let weapon of weapons">

      <span class="weaponType">{{weapon.type}}</span>
      <span class="weaponName">{{weapon.name}}</span>

      <img class="sprite weaponImage" [src]="getWeaponIcon(weapon, false)" />

      <div class="statsContainer">
        <div class="spanContainer">
          <span class="shadow damage">Damage:</span>
          <span class="shadow speed">Velocity:</span>
          <span class="shadow clip">Clip Size:</span>
          <span class="shadow tbs">TBS:</span>
          <!-- <span class="shadow range">Range:</span> -->
        </div>

        <div class="spanContainer">
          <span class="shadow damage">
            {{weapon.damage}}
          </span>
          <span class="shadow speed">
            {{weapon.speed}}
          </span>
          <span class="shadow clip">
            {{weapon.clip}}
          </span>
          <span class="shadow tbs">
            {{weapon.tbs | number:'1.3'}}
          </span>
          <!-- <span class="shadow range">
            {{weapon.range | number:'1.3'}}
          </span> -->
        </div>

        <div class="barContainer">
          <div class="bar damage"></div>
          <div [style]="'width: ' + weaponStats[weapon.name].damage + '%;'" class="bar damage active">
          </div>
          <div class="bar speed"></div>
          <div [style]="'width: ' + weaponStats[weapon.name].speed + '%;'" class="bar speed active">
          </div>
          <div class="bar clip"></div>
          <div [style]="'width: ' + weaponStats[weapon.name].clip + '%;'" class="bar clip active"></div>
          <div class="bar tbs"></div>
          <div [style]="'width: ' + weaponStats[weapon.name].tbs + '%;'" class="bar tbs active"></div>
          <!-- <div class="bar range"></div>
          <div [style]="'width: ' + weaponStats[weapon.name].range + '%;'" class="bar range active"></div> -->
        </div>
      </div>
    </div>

    <!-- <div class="container graph">
      <swiper-container style="height: 100%;">
        <swiper-slide>
          <span class="title">Damage Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataDamage"
            [options]="lineChartOptionsDMG" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
        <swiper-slide>
          <span class="title">Velocity Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataVelocity"
            [options]="lineChartOptionsVel" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
      </swiper-container>
    </div> -->
  </div>

  <!-- <div id="tableContainer">
      <table>
        <thead>
          <tr>
            <th>Distance</th>
            <th *ngFor="let weapon of pubgData.weapons">{{weapon.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distance of distances">
            <td class="distanceCell">{{distance}}</td>
            <td class="damageCell" *ngFor="let weapon of pubgData.weapons">
              {{calcDamage(weapon, {distance}) | number:'1.1-1'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</ion-content>
