* {
  --weaponHeight: 180px;
  --stats-height: 80px;
  --barHeight: calc((var(--stats-height) / 4.8) / 2);
  --wepImgRightMargin: 20px;
  --wepImgTopMargin: 50px;
}

ion-content {
  --padding-top: -10px;
  --padding-bottom: 70px;
}

/* ---------------------------------- */
/*            WEAPON SELECT           */
/* ---------------------------------- */

span.weaponCategory {
  --width: 300px;
  display: block;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  width: var(--width);
  margin-left: calc(50% - (var(--width) / 2));
  padding: 5px;
  font-size: 1em;
  box-shadow: 0 0 10px 1px rgba(var(--ion-color-dark-rgb), 0.25);
  color: var(--ion-color-step-900);
  border: 2px solid;
  border-radius: var(--borderRadius);
}

.weapon {
  position: relative;
  cursor: pointer;
  height: 75px;
  background-color: var(--ion-color-light);
  margin: 8px 15px;
  font-weight: bold;
  border-radius: var(--borderRadius);
  box-shadow: 0 0 10px 0 rgba(var(--ion-color-tertiary-rgb), 0.05);
  border: 2px solid;
  border-color: var(--ion-color-light);
  user-select: none;
  transition: background-color 0.2s ease, height 0.2s ease;

  & span.weaponType {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 0.7em;
  }
  & span.weaponName {
    position: absolute;
    color: var(--ion-color-step-700);
    font-weight: bold;
    top: 28px;
    left: 12px;
    font-size: 1.5em;

    & * {
      font-weight: bold;
    }
  }
  & img.weaponImage {
    position: absolute;
  }

  & .statsContainer {
    opacity: 0;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 0;
    width: calc(100% - 20px);
    border-radius: var(--borderRadius2);
    box-sizing: content-box;
    padding: 10px 0;
    backdrop-filter: blur(15px);
    transition: height 0.1s ease, opacity 0.1s ease;
    border: 2px solid;

    & .spanContainer {
      position: relative;
      float: left;
      height: 100%;
      // width: 80px;
      width: 25%;

      & span {
        display: block;
        height: 20%;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
      }

      & span.damage {
        color: var(--ion-color-danger-shade);
      }
      & span.speed {
        color: var(--ion-color-warning-shade);
      }
      & span.clip {
        color: var(--ion-color-primary-shade);
      }
      & span.rof {
        color: var(--ion-color-success-shade);
      }
      & span.range {
        color: var(--ion-color-tertiary-shade);
      }
    }
    & .spanContainer:first-of-type {
      margin-left: 10px;
    }

    & .barContainer {
      position: relative;
      float: right;
      margin-right: 10px;
      height: 100%;
      // width: calc(100% - 10px - 80px - 80px - 10px);
      width: calc(50% - 20px);

      & .bar {
        height: var(--barHeight);
        position: absolute;
        width: 100%;
        border-radius: var(--borderRadius);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
      }

      & .bar.damage {
        top: calc((0 * (var(--barHeight) * 2)) + var(--barHeight) / 2);
        background: rgba(var(--ion-color-danger-rgb), 0.2);
      }
      & .bar.active.damage {
        background: var(--ion-color-danger-shade);
      }
      & .bar.speed {
        top: calc((1 * (var(--barHeight) * 2)) + var(--barHeight) / 2);
        background: rgba(var(--ion-color-warning-rgb), 0.2);
      }
      & .bar.active.speed {
        background: var(--ion-color-warning-shade);
      }
      & .bar.clip {
        top: calc((2 * (var(--barHeight) * 2)) + var(--barHeight) / 2);
        background: rgba(var(--ion-color-primary-rgb), 0.2);
      }
      & .bar.active.clip {
        background: var(--ion-color-primary-shade);
      }
      & .bar.rof {
        top: calc((3 * (var(--barHeight) * 2)) + var(--barHeight) / 2);
        background: rgba(var(--ion-color-success-rgb), 0.2);
      }
      & .bar.active.rof {
        background: var(--ion-color-success-shade);
      }
      & .bar.range {
        top: calc((4 * (var(--barHeight) * 2)) + var(--barHeight) / 2);
        background: rgba(var(--ion-color-tertiary-rgb), 0.2);
      }
      & .bar.active.range {
        background: var(--ion-color-tertiary-shade);
      }
    }
  }
}

.weapon.selected {
  height: var(--weaponHeight);

  background-color: rgba(var(--ion-color-primary-rgb), 0.1);
  border: 2px solid;
  border-color: rgba(var(--ion-color-primary-rgb), 0.25);

  & span.weaponType {
    color: rgba(var(--ion-color-primary-rgb), 0.7);
  }

  & .statsContainer {
    opacity: 1;
    height: var(--stats-height);
    transition: height 0.1s ease 0.05s, opacity 0.2s ease 0.05s;
  }
}

.weapon#ACE32 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(-3px + var(--wepImgRightMargin));
  // top: calc(-46px + var(--wepImgTopMargin));
}

.weapon#AKM .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(-1px + var(--wepImgRightMargin));
  // top: calc(-50px + var(--wepImgTopMargin));
}

.weapon#AUG .weaponImage {
  transform: rotate(calc(-38.8deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#AWM .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-50px + var(--wepImgTopMargin));
}

.weapon#Beryl\ M762 .weaponImage {
  transform: rotate(calc(-41deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-45px + var(--wepImgTopMargin));
}

.weapon#Crossbow .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#DBS .weaponImage {
  transform: rotate(calc(-39.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-43px + var(--wepImgTopMargin));
}

.weapon#DP-28 .weaponImage {
  transform: rotate(calc(-41deg + 45deg));
  // right: calc(8px + var(--wepImgRightMargin));
  // top: calc(-44px + var(--wepImgTopMargin));
}

.weapon#Deagle .weaponImage {
  transform: rotate(calc(-33deg + 45deg));
  // right: calc(-15px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#Dragunov .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(3px + var(--wepImgRightMargin));
  // top: calc(-50px + var(--wepImgTopMargin));
}

.weapon#Famas .weaponImage {
  transform: rotate(calc(-45deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-42px + var(--wepImgTopMargin));
}

.weapon#G36C .weaponImage {
  transform: rotate(calc(-41deg + 45deg));
  // right: calc(-4px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#Groza .weaponImage {
  transform: rotate(calc(-45.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-37px + var(--wepImgTopMargin));
}

.weapon#JS9 .weaponImage {
  transform: rotate(calc(-45deg + 45deg));
  // right: calc(3px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#K2 .weaponImage {
  transform: rotate(calc(-42deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-49px + var(--wepImgTopMargin));
}

.weapon#Kar98k .weaponImage {
  transform: rotate(calc(-39deg + 45deg));
  // right: calc(-3px + var(--wepImgRightMargin));
  // top: calc(-48px + var(--wepImgTopMargin));
}

.weapon#LynxAMR .weaponImage {
  transform: rotate(calc(-42deg + 45deg));
  // right: calc(7px + var(--wepImgRightMargin));
  // top: calc(-47px + var(--wepImgTopMargin));
}

.weapon#M16A4 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(-2px + var(--wepImgRightMargin));
  // top: calc(-46px + var(--wepImgTopMargin));
}

.weapon#M24 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-50px + var(--wepImgTopMargin));
}

.weapon#M249 .weaponImage {
  transform: rotate(calc(-41deg + 45deg));
  // right: calc(-1px + var(--wepImgRightMargin));
  // top: calc(-44px + var(--wepImgTopMargin));
}

.weapon#M416 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-48px + var(--wepImgTopMargin));
}

.weapon#MG3 .weaponImage {
  transform: rotate(calc(-42deg + 45deg));
  // right: calc(9px + var(--wepImgRightMargin));
  // top: calc(-48px + var(--wepImgTopMargin));
}

.weapon#MK12 .weaponImage {
  transform: rotate(calc(-42deg + 45deg));
  // right: calc(5px + var(--wepImgRightMargin));
  // top: calc(-47px + var(--wepImgTopMargin));
}

.weapon#MK14 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(5px + var(--wepImgRightMargin));
  // top: calc(-49px + var(--wepImgTopMargin));
}

.weapon#MP5K .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(-13px + var(--wepImgRightMargin));
  // top: calc(-31px + var(--wepImgTopMargin));
}

.weapon#MP9 .weaponImage {
  transform: rotate(calc(-37.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#Micro\ UZI .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(-14px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#Mini-14 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(4px + var(--wepImgRightMargin));
  // top: calc(-47px + var(--wepImgTopMargin));
}

.weapon#Mosin\ Nagant .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-49px + var(--wepImgTopMargin));
}

.weapon#Mutant\ MK47 .weaponImage {
  transform: rotate(calc(-41deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#O12 .weaponImage {
  transform: rotate(calc(-44deg + 45deg));
  // right: calc(2px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#P18C .weaponImage {
  transform: rotate(calc(-33deg + 45deg));
  // right: calc(-19px + var(--wepImgRightMargin));
  // top: calc(-35px + var(--wepImgTopMargin));
}

.weapon#P1911 .weaponImage {
  transform: rotate(calc(-31deg + 45deg));
  // right: calc(-20px + var(--wepImgRightMargin));
  // top: calc(-38px + var(--wepImgTopMargin));
}

.weapon#P90 .weaponImage {
  transform: rotate(calc(-42.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-32px + var(--wepImgTopMargin));
}

.weapon#P92 .weaponImage {
  transform: rotate(calc(-34deg + 45deg));
  // right: calc(-21px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#PP-19\ Bizon .weaponImage {
  transform: rotate(calc(-40deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#QBU .weaponImage {
  transform: rotate(calc(-41deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-45px + var(--wepImgTopMargin));
}

.weapon#QBZ .weaponImage {
  transform: rotate(calc(-42deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-43px + var(--wepImgTopMargin));
}

.weapon#R1895 .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(-18px + var(--wepImgRightMargin));
  // top: calc(-41px + var(--wepImgTopMargin));
}

.weapon#R45 .weaponImage {
  transform: rotate(calc(-32deg + 45deg));
  // right: calc(-11px + var(--wepImgRightMargin));
  // top: calc(-39px + var(--wepImgTopMargin));
}

.weapon#S12K .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-51px + var(--wepImgTopMargin));
}

.weapon#S1897 .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-49px + var(--wepImgTopMargin));
}

.weapon#S686 .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-49px + var(--wepImgTopMargin));
}

.weapon#SCAR-L .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-43px + var(--wepImgTopMargin));
}

.weapon#SKS .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-49px + var(--wepImgTopMargin));
}

.weapon#SLR .weaponImage {
  transform: rotate(calc(-42deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-52px + var(--wepImgTopMargin));
}

.weapon#Sawed-Off .weaponImage {
  transform: rotate(calc(-38deg + 45deg));
  // right: calc(6px + var(--wepImgRightMargin));
  // top: calc(-44px + var(--wepImgTopMargin));
}

.weapon#Skorpion .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(-13px + var(--wepImgRightMargin));
  // top: calc(-35px + var(--wepImgTopMargin));
}

.weapon#Tommy\ Gun .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-47px + var(--wepImgTopMargin));
}

.weapon#UMP45 .weaponImage {
  transform: rotate(calc(-38deg + 45deg));
  // right: calc(-4px + var(--wepImgRightMargin));
  // top: calc(-44px + var(--wepImgTopMargin));
}

.weapon#VSS .weaponImage {
  transform: rotate(calc(-40.5deg + 45deg));
  // right: calc(0px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#Vector .weaponImage {
  transform: rotate(calc(-37deg + 45deg));
  // right: calc(-2px + var(--wepImgRightMargin));
  // top: calc(-40px + var(--wepImgTopMargin));
}

.weapon#Win94 .weaponImage {
  transform: rotate(calc(-38deg + 45deg));
  // right: calc(5px + var(--wepImgRightMargin));
  // top: calc(-43px + var(--wepImgTopMargin));
}

.weaponImage {
  top: 0;
  right: 10px;
  // transform: none ;
  // border: 1px solid;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}
