ion-content {
  --padding-top: 10px;
  --padding-bottom: 15px;
}

/* ---------------------------------- */
/*            WEAPON SELECT           */
/* ---------------------------------- */

.weapon {
  position: relative;
  cursor: pointer;
  height: 120px;
  background-color: var(--ion-color-light);
  margin: 8px 15px;
  font-weight: bold;
  border-radius: var(--borderRadius);
  transition: background-color 0.2s ease-out;
  box-shadow: 0 0 10px 0 rgba(var(--ion-color-tertiary-rgb), 0.05);
  border: 2px solid var(--ion-color-light);
  user-select: none;

  & img {
    height: 100%;
    aspect-ratio: 1/1;
  }
  & img.icon {
    height: 80%;
    margin: 3px 0px;
    margin-right: 3px;
  }

  & span.weaponType {
    position: absolute;
    color: var(--ion-color-step-text-400);
    top: 7px;
    left: 10px;
    font-size: 0.7em;
  }
  & span.weaponName {
    position: absolute;
    color: var(--ion-color-primary);
    font-weight: bold;
    top: 22px;
    left: 10px;
    font-size: 1em;
  }
  & img.weaponImage {
    position: absolute;
  }

  & .statsContainer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 50%;
    height: 60px;
    background-color: rgba(var(--ion-color-tertiary-rgb), 0.075);
    border-radius: var(--borderRadius2);
    border: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.2);
    box-sizing: content-box;
    max-width: 300px;

    & .labelContainer {
      position: absolute;
      left: 6px;
      width: calc(30% - 6px);
      height: 100%;

      & span {
        display: block;
        height: 25%;
        line-height: 14px;
        width: 100%;
        font-size: 8px;
        text-align: left;
      }

      & span.damage {
        color: var(--ion-color-danger);
      }
      & span.speed {
        color: var(--ion-color-warning);
      }
      & span.clip {
        color: var(--ion-color-primary);
      }
      & span.tbs {
        color: var(--ion-color-success);
      }
    }

    & .barContainer {
      position: absolute;
      right: 6px;
      height: 100%;
      width: calc(70% - 6px);

      & .bar {
        height: 7px;
        position: absolute;
        width: 100%;
        border-radius: var(--borderRadius);
      }

      & .bar.damage {
        top: calc((0 * 15px) + 4px);
        background: rgba(var(--ion-color-danger-rgb), 0.2);
      }
      & .bar.active.damage {
        background: rgba(var(--ion-color-danger-rgb), 1);
      }
      & .bar.speed {
        top: calc((1 * 15px) + 4px);
        background: rgba(var(--ion-color-warning-rgb), 0.2);
      }
      & .bar.active.speed {
        background: rgba(var(--ion-color-warning-rgb), 1);
      }
      & .bar.clip {
        top: calc((2 * 15px) + 4px);
        background: rgba(var(--ion-color-primary-rgb), 0.2);
      }
      & .bar.active.clip {
        background: rgba(var(--ion-color-primary-rgb), 1);
      }
      & .bar.tbs {
        top: calc((3 * 15px) + 4px);
        background: rgba(var(--ion-color-success-rgb), 0.2);
      }
      & .bar.active.tbs {
        background: rgba(var(--ion-color-success-rgb), 1);
      }
    }
  }
}

.weapon.selected {
  background-color: rgba(var(--ion-color-tertiary-rgb), 0.1);
  border: 2px solid rgba(var(--ion-color-tertiary-rgb), 0.25);

  & span.weaponType {
    color: rgba(var(--ion-color-tertiary-rgb), 0.7);
  }
}

.weapon#ACE32 .weaponImage {
  right: 17px;
  top: -26px;
  transform: rotate(-40.5deg);
}
.weapon#AKM .weaponImage {
  right: 19px;
  top: -30px;
  transform: rotate(-40.5deg);
}
.weapon#AUG .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-38.8deg);
}
.weapon#AWM .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-40.5deg);
}
.weapon#Beryl\ M762 .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-41deg);
}
.weapon#Crossbow .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-37deg);
}
.weapon#DBS .weaponImage {
  right: 20px;
  top: -23px;
  transform: rotate(-39.5deg);
}
.weapon#DP-28 .weaponImage {
  right: 28px;
  top: -24px;
  transform: rotate(-41deg);
}
.weapon#Deagle .weaponImage {
  right: 5px;
  top: -20px;
  transform: rotate(-33deg);
}
.weapon#Dragunov .weaponImage {
  right: 23px;
  top: -30px;
  transform: rotate(-40.5deg);
}
.weapon#Famas .weaponImage {
  right: 20px;
  top: -22px;
  transform: rotate(-45deg);
}
.weapon#G36C .weaponImage {
  right: 16px;
  top: -20px;
  transform: rotate(-41deg);
}
.weapon#Groza .weaponImage {
  right: 20px;
  top: -17px;
  transform: rotate(-45.5deg);
}
.weapon#JS9 .weaponImage {
  right: 23px;
  top: -20px;
  transform: rotate(-45deg);
}
.weapon#K2 .weaponImage {
  right: 20px;
  top: -29px;
  transform: rotate(-42deg);
}
.weapon#Kar98k .weaponImage {
  right: 17px;
  top: -28px;
  transform: rotate(-39deg);
}
.weapon#LynxAMR .weaponImage {
  right: 27px;
  top: -27px;
  transform: rotate(-42deg);
}
.weapon#M16A4 .weaponImage {
  right: 18px;
  top: -26px;
  transform: rotate(-40.5deg);
}
.weapon#M24 .weaponImage {
  right: 20px;
  top: -30px;
  transform: rotate(-40.5deg);
}
.weapon#M249 .weaponImage {
  right: 19px;
  top: -24px;
  transform: rotate(-41deg);
}
.weapon#M416 .weaponImage {
  right: 20px;
  top: -28px;
  transform: rotate(-40.5deg);
}
.weapon#MG3 .weaponImage {
  right: 29px;
  top: -28px;
  transform: rotate(-42deg);
}
.weapon#MK12 .weaponImage {
  right: 25px;
  top: -27px;
  transform: rotate(-42deg);
}
.weapon#MK14 .weaponImage {
  right: 25px;
  top: -29px;
  transform: rotate(-40.5deg);
}
.weapon#MP5K .weaponImage {
  right: 7px;
  top: -11px;
  transform: rotate(-37deg);
}
.weapon#MP9 .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-37.5deg);
}
.weapon#Micro\ UZI .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-37deg);
}
.weapon#Mini-14 .weaponImage {
  right: 24px;
  top: -27px;
  transform: rotate(-40.5deg);
}
.weapon#Mosin\ Nagant .weaponImage {
  right: 20px;
  top: -29px;
  transform: rotate(-40.5deg);
}
.weapon#Mutant\ MK47 .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-41deg);
}
.weapon#O12 .weaponImage {
  right: 22px;
  top: -20px;
  transform: rotate(-44deg);
}
.weapon#P18C .weaponImage {
  right: 1px;
  top: -15px;
  transform: rotate(-33deg);
}
.weapon#P1911 .weaponImage {
  right: 0px;
  top: -18px;
  transform: rotate(-31deg);
}
.weapon#P90 .weaponImage {
  right: 20px;
  top: -12px;
  transform: rotate(-42.5deg);
}
.weapon#P92 .weaponImage {
  right: -1px;
  top: -20px;
  transform: rotate(-34deg);
}
.weapon#PP-19\ Bizon .weaponImage {
  right: 23px;
  top: -26px;
  transform: rotate(-40.5deg);
}
.weapon#QBU .weaponImage {
  right: 20px;
  top: -25px;
  transform: rotate(-41deg);
}
.weapon#QBZ .weaponImage {
  right: 20px;
  top: -23px;
  transform: rotate(-42deg);
}
.weapon#R1895 .weaponImage {
  right: 2px;
  top: -21px;
  transform: rotate(-37deg);
}
.weapon#R45 .weaponImage {
  right: 9px;
  top: -19px;
  transform: rotate(-32deg);
}
.weapon#S12K .weaponImage {
  right: 20px;
  top: -31px;
  transform: rotate(-40.5deg);
}
.weapon#S1897 .weaponImage {
  right: 20px;
  top: -29px;
  transform: rotate(-37deg);
}
.weapon#S686 .weaponImage {
  right: 20px;
  top: -29px;
  transform: rotate(-40.5deg);
}
.weapon#SCAR-L .weaponImage {
  right: 20px;
  top: -23px;
  transform: rotate(-40.5deg);
}
.weapon#SKS .weaponImage {
  right: 20px;
  top: -29px;
  transform: rotate(-40.5deg);
}
.weapon#SLR .weaponImage {
  right: 20px;
  top: -32px;
  transform: rotate(-42deg);
}
.weapon#Sawed-Off .weaponImage {
  right: 26px;
  top: -24px;
  transform: rotate(-38deg);
}
.weapon#Skorpion .weaponImage {
  right: 7px;
  top: -15px;
  transform: rotate(-37deg);
}
.weapon#Tommy\ Gun .weaponImage {
  right: 20px;
  top: -27px;
  transform: rotate(-40.5deg);
}
.weapon#UMP45 .weaponImage {
  right: 16px;
  top: -24px;
  transform: rotate(-38deg);
}
.weapon#VSS .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-40.5deg);
}
.weapon#Vector .weaponImage {
  right: 18px;
  top: -20px;
  transform: rotate(-37deg);
}
.weapon#Win94 .weaponImage {
  right: 25px;
  top: -23px;
  transform: rotate(-38deg);
}
.weapon#PP-19\ Bizon .weaponImage {
  right: 20px;
  top: -20px;
  transform: rotate(-40deg);
}
