<ion-header fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raw Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="!loading">
    <div class="codeContainer">
      <div class="titlebar">
        <span>Weapons Data</span>
      </div>
      <div class="code">
        <span>{{pubgData.weapons | json}}</span>
      </div>
    </div>

    <div class="codeContainer">
      <div class="titlebar">
        <span>Damage Falloff Data</span>
      </div>
      <div class="code">
        <span>{{pubgData.damageFalloffs | json}}</span>
      </div>
    </div>

    <div class="codeContainer">
      <div class="titlebar">
        <span>Velocity Falloff Data</span>
      </div>
      <div class="code">
        <span>{{pubgData.velocityFalloffs | json}}</span>
      </div>
    </div>

    <div class="codeContainer">
      <div class="titlebar">
        <span>Damage Area Data</span>
      </div>
      <div class="code">
        <span>{{pubgData.damageAreas | json}}</span>
      </div>
    </div>

    <!-- <div class="json"> <div>calculatedDamageMultiplier</div> {{calculatedDamageMultiplier | json}} </div>
    <div class="json"> <div>calculatedDamageFalloffs</div> {{calculatedDamageFalloffs | json}} </div>
    <div class="json"> <div>distances</div> {{distances | json}} </div> -->

  </div>
</ion-content>
