/* ------------------------ */
/*         SCROLLBAR        */
/* ------------------------ */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(var(--ion-color-tertiary-rgb), 0.05);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(var(--ion-color-tertiary-rgb), 0.8);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--ion-color-tertiary-rgb), 0.5);
}

:root {
  --shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  --borderRadius: 15px;
  --borderRadius2: 10px;
  --borderRadius3: 5px;
}

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */

/* ----------- Black Line ----------- */
.header::after,
.header-md::after,
.footer::before,
.footer-md::before {
  content: none !important;
  /* ------------ Fallback ------------ */
  background: none !important;
}

ion-header {
  box-shadow: none !important;

  & ion-toolbar {
    /* --------------- IOS -------------- */
    --border-width: 0 !important;
    /* -------------- Blur -------------- */
    // backdrop-filter: blur(10px);
    // --background: rgba(var(--ion-color-light-rgb), 0.5);
    /* ------------- No Blur ------------ */
    --background: var(--ion-color-light-tint);

    & ion-title {
      font-weight: bold;
      text-align: center;
      margin-left: -50px;
    }
  }
}

/* ---------------------------------- */
/*               CONTENT              */
/* ---------------------------------- */

ion-content {
  --background: var(--ion-color-light-tint);
}

/* ---------------------------------- */
/*            LISTS & ITEMS           */
/* ---------------------------------- */

ion-list {
  background: var(--ion-color-light-tint) !important;

  & ion-list-header {
    font-weight: bold;
    --color: var(--ion-color-dark-tint);
    background: var(--ion-color-light-tint);
  }

  & ion-item {
    font-weight: bold;
    --color: var(--ion-color-dark-tint);
    --background: var(--ion-color-light-tint);
  }
}

/* ---------------------------------- */
/*              SEARCHBAR             */
/* ---------------------------------- */

ion-searchbar {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border-radius: 0 !important;
  --border-radius: 30px !important;
  --background: var(--ion-color-step-150) !important;
}

/* ---------------------------------- */
/*               SELECT               */
/* ---------------------------------- */

// ion-select {
//   background: var(--ion-color-step-200);
//   border-radius: var(--borderRadius3);
//   padding: 0 10px;
//   width: 100%;
//   height: 35px;
// }

/* ---------------------------------- */
/*               TOGGLES              */
/* ---------------------------------- */

ion-toggle {
  width: 60px;

  &::part(track) {
    height: 30px;
    width: 50px;
    overflow: visible; // iOS!
    background: rgba(var(--ion-color-tertiary-rgb), 0.5);
    padding: 0 4px;
  }

  &::part(handle) {
    background: var(--ion-color-tertiary);
    border-radius: 50%;
    // border: 2px solid var(--ion-color-light);
    box-shadow: none;
  }
}

/* ---------------------------------- */
/*         INLINE SPAN STYLES         */
/* ---------------------------------- */

span.normal {
  font-weight: normal !important;
}

/* ---------------------------------- */
/*          ION-SLIDES/SWIPER         */
/* ---------------------------------- */

swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-tertiary, #9624ff);
  --swiper-pagination-progressbar-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.25
  );
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.5
  );
}

swiper-slide {
  width: 100%;
  height: 100%;

  font-size: 18px;

  box-sizing: border-box;
}
