/* ------------------------ */
/*         SCROLLBAR        */
/* ------------------------ */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(var(--ion-color-primary-rgb), 0.05);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(var(--ion-color-primary-rgb), 0.8);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--ion-color-primary-rgb), 0.5);
}

:root {
  --shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  --borderRadius: 20px;
  --borderRadius2: 10px;
  --borderRadius3: 5px;
}

// * {
//   scrollbar-width: none !important;
// }
// *:not(ion-item) {
//   color: var(--ion-color-step-text-800);
// }

/* ---------------------------------- */
/*                MENU                */
/* ---------------------------------- */

ion-toolbar {
  --background: transparent;
}

ion-header,
ion-toolbar {
  box-shadow: none !important;
}

ion-title {
  font-weight: bold;
}

/* ---------------------------------- */
/*               CONTENT              */
/* ---------------------------------- */

// ion-content {
// }

/* ---------------------------------- */
/*            LISTS & ITEMS           */
/* ---------------------------------- */

// ion-list {
// }

// ion-list-header {
// }

// ion-item {
// }

/* ---------------------------------- */
/*               SELECT               */
/* ---------------------------------- */

// ion-select {
//   background: var(--ion-color-step-200);
//   border-radius: var(--borderRadius3);
//   padding: 0 10px;
//   width: 100%;
//   height: 35px;
// }

/* ---------------------------------- */
/*               TOGGLES              */
/* ---------------------------------- */

ion-toggle {
  --track-background: var(--ion-color-step-200);
  --handle-background: var(--ion-background-color);

  --handle-width: 23px;
  --handle-height: 23px;

  --handle-border-radius: 50%;
  --handle-box-shadow: none;

  width: 58px;

  &::part(track) {
    height: 30px;
    width: 50px;
    overflow: visible; // iOS!
    padding: 0 4px;
  }
}

/* ---------------------------------- */
/*         INLINE SPAN STYLES         */
/* ---------------------------------- */

span.normal {
  font-weight: normal !important;
}

/* ---------------------------------- */
/*          ION-SLIDES/SWIPER         */
/* ---------------------------------- */

swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
  --swiper-pagination-progressbar-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.25
  );
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.5
  );
}

swiper-slide {
  width: 100%;
  height: 100%;

  font-size: 18px;

  box-sizing: border-box;
}
