body.amoled {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  /* ---------- Other Colors ---------- */

  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #111111;
  --ion-item-background: #000000;
  --ion-toolbar-background: #000000;
  --ion-tab-bar-background: #000000;

  --ion-color-step-50: #000000;
  --ion-color-step-100: #1e1e1e;
  --ion-color-step-150: #2a2a2a;
  --ion-color-step-200: #363636;
  --ion-color-step-250: #414141;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #555555;
  --ion-color-step-400: #616161;
  --ion-color-step-450: #6d6d6d;
  --ion-color-step-500: #797979;
  --ion-color-step-550: #848484;
  --ion-color-step-600: #909090;
  --ion-color-step-650: #9c9c9c;
  --ion-color-step-700: #a8a8a8;
  --ion-color-step-750: #b4b4b4;
  --ion-color-step-800: #c0c0c0;
  --ion-color-step-850: #cbcbcb;
  --ion-color-step-900: #d7d7d7;
  --ion-color-step-950: #e3e3e3;

  --ion-color-step-text-50: var(--ion-color-step-50);
  --ion-color-step-text-100: var(--ion-color-step-100);
  --ion-color-step-text-150: var(--ion-color-step-150);
  --ion-color-step-text-200: var(--ion-color-step-200);
  --ion-color-step-text-250: var(--ion-color-step-250);
  --ion-color-step-text-300: var(--ion-color-step-300);
  --ion-color-step-text-350: var(--ion-color-step-350);
  --ion-color-step-text-400: var(--ion-color-step-400);
  --ion-color-step-text-450: var(--ion-color-step-450);
  --ion-color-step-text-500: var(--ion-color-step-500);
  --ion-color-step-text-550: var(--ion-color-step-550);
  --ion-color-step-text-600: var(--ion-color-step-600);
  --ion-color-step-text-650: var(--ion-color-step-650);
  --ion-color-step-text-700: var(--ion-color-step-700);
  --ion-color-step-text-750: var(--ion-color-step-750);
  --ion-color-step-text-800: var(--ion-color-step-800);
  --ion-color-step-text-850: var(--ion-color-step-850);
  --ion-color-step-text-900: var(--ion-color-step-900);
  --ion-color-step-text-950: var(--ion-color-step-950);
}
