body.transparency {
  --ion-color-dark: #222428aa;
  --ion-color-dark-contrast: #ffffffaa;
  --ion-color-dark-shade: #1e2023aa;
  --ion-color-dark-tint: #383a3eaa;

  --ion-color-medium: #92949caa;
  --ion-color-medium-contrast: #ffffffaa;
  --ion-color-medium-shade: #808289aa;
  --ion-color-medium-tint: #9d9fa6aa;

  --ion-color-light: #ffffffaa;
  --ion-color-light-contrast: #000000aa;
  --ion-color-light-shade: #eeeeeeaa;
  --ion-color-light-tint: #f5f6f9aa;

  /* ---------- Other Colors ---------- */

  --ion-background-color: #ffffffaa;
  --ion-text-color: #000000aa;
  --ion-border-color: #ddddddaa;
  --ion-item-background: #ffffffaa;
  --ion-toolbar-background: #f3f3f3aa;
  --ion-tab-bar-background: #f3f3f3aa;

  --ion-color-step-50: #f7f7f7aa;
  --ion-color-step-100: #efefefaa;
  --ion-color-step-150: #e7e7e7aa;
  --ion-color-step-200: #dfdfdfaa;
  --ion-color-step-250: #d7d7d7aa;
  --ion-color-step-300: #cfcfcfaa;
  --ion-color-step-350: #c7c7c7aa;
  --ion-color-step-400: #bfbfbfaa;
  --ion-color-step-450: #b7b7b7aa;
  --ion-color-step-500: #afafafaa;
  --ion-color-step-550: #a7a7a7aa;
  --ion-color-step-600: #9f9f9faa;
  --ion-color-step-650: #979797aa;
  --ion-color-step-700: #8f8f8faa;
  --ion-color-step-750: #878787aa;
  --ion-color-step-800: #7f7f7faa;
  --ion-color-step-850: #767676aa;
  --ion-color-step-900: #6e6e6eaa;
  --ion-color-step-950: #666666aa;

  --ion-color-step-text-50: #f7f7f7;
  --ion-color-step-text-100: #efefef;
  --ion-color-step-text-150: #e7e7e7;
  --ion-color-step-text-200: #dfdfdf;
  --ion-color-step-text-250: #d7d7d7;
  --ion-color-step-text-300: #cfcfcf;
  --ion-color-step-text-350: #c7c7c7;
  --ion-color-step-text-400: #bfbfbf;
  --ion-color-step-text-450: #b7b7b7;
  --ion-color-step-text-500: #afafaf;
  --ion-color-step-text-550: #a7a7a7;
  --ion-color-step-text-600: #9f9f9f;
  --ion-color-step-text-650: #979797;
  --ion-color-step-text-700: #8f8f8f;
  --ion-color-step-text-750: #878787;
  --ion-color-step-text-800: #7f7f7f;
  --ion-color-step-text-850: #767676;
  --ion-color-step-text-900: #6e6e6e;
  --ion-color-step-text-950: #666666;
}
