body.dark.transparency {
  --ion-color-dark: #f4f5f8aa;
  --ion-color-dark-contrast: #000000aa;
  --ion-color-dark-shade: #d7d8daaa;
  --ion-color-dark-tint: #f5f6f9aa;

  --ion-color-medium: #989aa2aa;
  --ion-color-medium-contrast: #000000aa;
  --ion-color-medium-shade: #86888faa;
  --ion-color-medium-tint: #a2a4abaa;

  --ion-color-light: #202020aa;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-shade: #272727aa;
  --ion-color-light-tint: #242424aa;

  /* ---------- Other Colors ---------- */

  --ion-background-color: #1f1f1faa;
  --ion-text-color: #ffffff;
  --ion-border-color: #222222aa;
  --ion-item-background: #1f1f1faa;
  --ion-toolbar-background: #1f1f1faa;
  --ion-tab-bar-background: #1f1f1faa;

  --ion-color-step-50: #1e1e1eaa;
  --ion-color-step-100: #2a2a2aaa;
  --ion-color-step-150: #363636aa;
  --ion-color-step-200: #414141aa;
  --ion-color-step-250: #4d4d4daa;
  --ion-color-step-300: #595959aa;
  --ion-color-step-350: #656565aa;
  --ion-color-step-400: #717171aa;
  --ion-color-step-450: #7d7d7daa;
  --ion-color-step-500: #898989aa;
  --ion-color-step-550: #949494aa;
  --ion-color-step-600: #a0a0a0aa;
  --ion-color-step-650: #acacacaa;
  --ion-color-step-700: #b8b8b8aa;
  --ion-color-step-750: #c4c4c4aa;
  --ion-color-step-800: #d0d0d0aa;
  --ion-color-step-850: #dbdbdbaa;
  --ion-color-step-900: #e7e7e7aa;
  --ion-color-step-950: #f3f3f3aa;

  --ion-color-step-text-50: #1e1e1e;
  --ion-color-step-text-100: #2a2a2a;
  --ion-color-step-text-150: #363636;
  --ion-color-step-text-200: #414141;
  --ion-color-step-text-250: #4d4d4d;
  --ion-color-step-text-300: #595959;
  --ion-color-step-text-350: #656565;
  --ion-color-step-text-400: #717171;
  --ion-color-step-text-450: #7d7d7d;
  --ion-color-step-text-500: #898989;
  --ion-color-step-text-550: #949494;
  --ion-color-step-text-600: #a0a0a0;
  --ion-color-step-text-650: #acacac;
  --ion-color-step-text-700: #b8b8b8;
  --ion-color-step-text-750: #c4c4c4;
  --ion-color-step-text-800: #d0d0d0;
  --ion-color-step-text-850: #dbdbdb;
  --ion-color-step-text-900: #e7e7e7;
  --ion-color-step-text-950: #f3f3f3;
}
