:root {
  /* ---------------------------------- */
  /*            WEAPON TYPES            */
  /* ---------------------------------- */

  --type-Handgun: #00da12;
  --type-Handgun-rgb: 0, 218, 18;
  --type-Handgun-text: #ffffff;

  --type-Shotgun: #e60000;
  --type-Shotgun-rgb: 230, 0, 0;
  --type-Shotgun-text: #ffffff;

  --type-SMG: #e60099;
  --type-SMG-rgb: 230, 0, 153;
  --type-SMG-text: #ffffff;

  --type-AR: #3399ff;
  --type-AR-rgb: 51, 153, 255;
  --type-AR-text: #ffffff;

  --type-LMG: #dd33ff;
  --type-LMG-rgb: 221, 51, 255;
  --type-LMG-text: #ffffff;

  --type-DMR: #ccbe00;
  --type-DMR-rgb: 204, 190, 0;
  --type-DMR-text: #ffffff;

  --type-SR: #e68200;
  --type-SR-rgb: 230, 130, 0;
  --type-SR-text: #ffffff;

  --type-Misc: #85a0ad;
  --type-Misc-rgb: 133, 160, 173;
  --type-Misc-text: #ffffff;

  /* ---------------------------------- */
  /*             AMMO TYPES             */
  /* ---------------------------------- */

  --ammo-762mm: #e6bf00;
  --ammo-762mm-rgb: 230, 191, 0;

  --ammo-556mm: #88cc00;
  --ammo-556mm-rgb: 136, 204, 0;

  --ammo-9mm: #e66000;
  --ammo-9mm-rgb: 230, 96, 0;

  --ammo-45ACP: #0099e6;
  --ammo-45ACP-rgb: 0, 153, 230;

  --ammo-Bolt: #0077b3;
  --ammo-Bolt-rgb: 0, 119, 179;

  --ammo-57mm: #bb33ff;
  --ammo-57mm-rgb: 187, 51, 255;

  --ammo-44-Magnum: #9ba1a3;
  --ammo-44-Magnum-rgb: 155, 161, 163;

  --ammo-300Magnum: #9ba1a3;
  --ammo-300Magnum-rgb: 155, 161, 163;

  --ammo-5Cal: #9ba1a3;
  --ammo-5Cal-rgb: 155, 161, 163;

  --ammo-12Guage: #eb4747;
  --ammo-12Guage-rgb: 235, 71, 71;

  --ammo-12GuageSlug: #eeee2b;
  --ammo-12GuageSlug-rgb: 238, 238, 43;
}
