<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-button slot="start">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-menu-button>
        <ion-list>
          <ion-list-header>
            <img src="assets/icon/logo.webp" alt="UnGunWiz" />
            <ion-label class="header" text-wrap>UnGunWiz</ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
            <ion-item *ngIf="page.type === 'route'" routerDirection="root" [routerLink]="page.url"
              [disabled]="page.disabled" [class.disabled]="page.disabled" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
            <!-- TODO: type: divider -->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
