/* ---------------------------------- */
/*               SIDEBAR              */
/* ---------------------------------- */

ion-list {
  width: 100%;
  height: 100%;
}

ion-list-header {
  font-size: 22px;
  font-weight: bold;
  min-height: 20px;
  text-align: center;
  margin: 20px 0;
  background: transparent;

  & img {
    max-width: 64px;
    max-height: 64px;
    margin-right: 25px;
  }

  & ion-label.header {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}

ion-item {
  border-radius: var(--borderRadius3);
  margin: 1px 5px;

  &.disabled,
  &.disabled ion-icon {
    opacity: 0.35;
  }

  &.selected,
  &.selected ion-icon {
    --color: var(--ion-color-tertiary-contrast);
    --background: rgba(var(--ion-color-tertiary-rgb), 0.8);
    color: var(--ion-color-tertiary-contrast);
  }
}

ion-label {
  color: var(--ion-color-tertiary);
}

.divider {
  width: 80%;
  height: 1px;
  background: var(--ion-color-tertiary);
  margin: 10px 0 10px 10%;
}

/* ---------------------------------- */
/*               TABBAR               */
/* ---------------------------------- */

ion-tab-bar {
  --background: var(--ion-color-step-100);
  --border: none;
  height: 78px;

  & ion-tab-button {
    --color-selected: var(--ion-color-step-800);

    & ion-icon {
      margin-bottom: 10px;
      padding: 5px 20px;
      border-radius: 20px;
      height: 20px;
    }
  }

  & ion-tab-button.tab-selected {
    & ion-icon {
      background-color: var(--ion-color-tertiary-shade);
      color: var(--ion-color-step-800);
    }
  }
}
