// ion-content {
//   --padding-start: 0 !important;
//   --padding-end: 0 !important;
//   --padding-top: 0 !important;
//   --padding-bottom: 0 !important;
// }

ion-list {
  width: 100%;
  height: 100%;
}
ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  text-align: center;
  margin: 20px 0;
  background: transparent;
}

ion-item {
  transition: all 0.1s ease-in;

  &.disabled,
  &.disabled ion-icon {
    opacity: 0.35;
  }

  &.selected,
  &.selected ion-icon {
    --color: var(--ion-color-primary-contrast);
    --background: rgba(var(--ion-color-primary-rgb), 0.35);
    color: var(--ion-color-primary-contrast);
  }
}

ion-label {
  color: var(--ion-color-primary);
}
