<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="weaponProfiles" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weapon Profiles</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!loading">
    <div class="container" id="wepSelectContainer">
      <!-- <span class="title">Weapons</span> -->

      <div class="wepSelectCatContainer" *ngFor="let category of categorizedWeapons('type')['categories']">
        <span class="title wepSelectCategory">{{category}}</span>
        <div class="wepSelect" *ngFor="let weapon of categorizedWeapons('type')['weapons'][category]"
          [class.selected]="isSelected(weapon)" (click)="toggleWeapon(weapon)">
          <span class="weaponName">{{weapon.name}}</span>
          <!-- <img [src]="getWeaponIcon(weapon, false)" [alt]="'Icon of ' + weapon.name" class="weaponImage" />
          <span class="weaponInfo"> Base DMG: <span>{{weapon.damage}}</span></span>
          <span class="weaponInfo"> Clip: <span>{{weapon.clip}} x {{weapon.ammo}}</span></span>
          <span class="weaponInfo"> TBS: <span>{{weapon.tbs | number:'1.2-4' }}</span></span>
          <span class="weaponInfo"> Velocity: <span>{{weapon.speed}} m/s</span></span> -->
        </div>

      </div>
    </div>

    <div class="container graph">
      <!-- TODO: Swiping Indicator -->
      <swiper-container style="height: 100%;">
        <swiper-slide>
          <span class="title">Damage Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataDamage"
            [options]="lineChartOptionsDMG" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
        <swiper-slide>
          <span class="title">Velocity Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataVelocity"
            [options]="lineChartOptionsVel" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <!-- <div id="tableContainer">
      <table>
        <thead>
          <tr>
            <th>Distance</th>
            <th *ngFor="let weapon of pubgData.weapons">{{weapon.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distance of distances">
            <td class="distanceCell">{{distance}}</td>
            <td class="damageCell" *ngFor="let weapon of pubgData.weapons">
              {{calcDamage(weapon, {distance}) | number:'1.1-1'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</ion-content>

<ion-menu side="end" menuId="weaponMenu" contentId="weaponProfiles">
  <ion-header class="filter module">
    <ion-toolbar>
      <ion-title class="ion-text-center">Weapons</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none">
        <ion-label position="floating">Hello World</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
