/* ------------- Content ------------ */

/* ---------------------------------- */
/*              CONTAINER             */
/* ---------------------------------- */

// if window width is smaller than 800px .conatiner width 100% and no border-radius:
@media (max-width: 650px) {
  .container {
    border-radius: 0;
  }
}

@media (min-width: 651px) {
  .container {
    border-radius: var(--borderRadius);
  }
}

.container {
  padding: 20px 5px;
  // box-shadow: var(--shadow);
  background: var(--ion-color-light);
  height: 600px;
  margin-top: 20px;
}
body.dark .container,
body.amoled .container {
  background: var(--ion-color-step-100);
}
// body:not(.dark):not(.amoled) div.container {
//   box-shadow: var(--shadow);
// }

.title {
  font-weight: bold;
  font-size: 1em;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: var(--borderRadius2);
  background-color: var(--ion-color-step-150);
  padding: 10px 0;
  margin-bottom: 10px;
  color: var(--ion-color-step-text-800);
}

/* ---------------------------------- */
/*            WEAPON SELECT           */
/* ---------------------------------- */

#weaponSelectContainer {
  float: left;
  width: 100%;
  height: 100%;
}
#weaponSelectContainer .title {
  width: calc(100% - 10px);
}
#weaponSelectContainer2 {
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: scroll;
  user-select: none;
}

.weaponSelectCategory {
  display: block;
  width: calc(100% - 10px - 20px);
  height: 40px;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--borderRadius3);
  line-height: 40px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;

  margin-top: 25px;
  margin-bottom: 10px;
}
.weaponSelectCategory::after {
  content: "s";
}
.weaponSelectCatContainer:first-of-type .weaponSelectCategory {
  margin-top: 0px;
}

.weaponSelect {
  width: calc(100% - 10px);
  height: 80px;
  background-color: var(--ion-color-step-150);
  cursor: pointer;
  border-radius: var(--borderRadius3);
  margin-top: 4px;
  font-weight: bold;
  transition: background-color 0.2s ease-out;
}
// div.weaponSelect:first-of-type {
//   border-top-left-radius: var(--borderRadius);
// }
// div.weaponSelect:nth-of-type(2) {
//   border-top-right-radius: var(--borderRadius);
// }
// div.weaponSelect:last-of-type {
//   border-bottom-right-radius: var(--borderRadius);
// }
// div.weaponSelect:nth-last-of-type(2) {
//   border-bottom-left-radius: var(--borderRadius);
// }
.weaponSelect.selected {
  background-color: rgba(var(--ion-color-primary-rgb), 0.75);
}
.weaponSelect:hover {
  background-color: rgba(var(--ion-color-primary-rgb), 0.5);
}
.weaponSelect.selected span,
.weaponSelect:hover span {
  color: #fff;
}

div.weaponInfoContainer {
  width: 100%;
  float: left;
  padding: 5px;
  position: relative;
}
div.weaponInfoContainer.top {
  height: 30px;
}
div.weaponInfoContainer.below {
  height: calc(100% - 30px);
}
div.weaponInfoSubContainer {
  height: 100%;
  float: left;
}
div.weaponInfoSubContainer.left {
  width: 55%;
}
div.weaponInfoSubContainer.right {
  width: 45%;
}

span.weaponInfo {
  display: block;
  width: 100%;
  height: 50%;
  color: var(--ion-color-step-text-600);
  float: left;
  font-size: 0.9em;
}
span.weaponInfoValue {
  color: var(--ion-color-step-text-800);
}
span.weaponName {
  font-size: 1.2em;
  color: var(--ion-color-primary);
  line-height: 30px;
}
span.weaponType {
  color: var(--ion-color-step-text-800);
  font-size: 0.8em;
  margin-top: 6px;
  margin-left: 5px;
  font-weight: bold;
  position: absolute;
}

/* ---------------------------------- */
/*                GRAPH               */
/* ---------------------------------- */

#graphContainer {
  // padding: 0 20px 20px 10px;
  float: left;
  // width: 50%;
  width: 100%;
  height: 100%;
}
#graphContainer canvas {
  height: calc(100% - 60px) !important;
}

/* ---------------------------------- */
/*                TABLE               */
/* ---------------------------------- */

#tableContainer {
  width: 100%;
  overflow-x: scroll;
}
table {
  width: calc(100% - 10px);
  border: 2px solid #5aa5ec;
  background: #253146;
  color: #76bdff;
}
th {
  padding: 5px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: #506da0;
}
tr {
  border: 1px solid #5aa5ec;
}
td {
  padding: 5px;
}
td:not(:last-child) {
  border-right: 1px solid #5aa5ec;
}
td.distanceCell {
  text-align: right;
  min-width: 80px;
}
td.damageCell {
  min-width: 200px;
  text-align: center;
}
