<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Weapon Profiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weapon Profiles</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- ----- Sorry 4 Being Messy ----- -->
  <div *ngIf="!loading">
    <div class="container">
      <div id="weaponSelectContainer">
        <span class="title">Weapons</span>
        <div id="weaponSelectContainer2">
          <div class="weaponSelectCatContainer" *ngFor="let category of categorizedWeapons('type')['categories']">
            <span class="weaponSelectCategory">{{category}}</span>
            <div class="weaponSelect" *ngFor="let weapon of categorizedWeapons('type')['weapons'][category]"
              [class.selected]="isSelected(weapon)" (click)="toggleWeapon(weapon)">

              <div class="weaponInfoContainer top">
                <span class="weaponName">{{weapon.name}}
                </span>
                <span class="weaponType">{{weapon.type}}</span>
                <!-- <span class="weaponInfo weaponType">{{weapon.type}}</span> -->
              </div>

              <div class="weaponInfoContainer below">
                <div class="weaponInfoSubContainer left">
                  <span class="weaponInfo weaponDamage">
                    Base DMG:
                    <span class="weaponInfoValue">{{weapon.damage}}</span>
                  </span>
                  <span class="weaponInfo weaponClip">
                    Clip:
                    <span class="weaponInfoValue">{{weapon.clip}} x {{weapon.ammo}}</span>
                  </span>
                </div>

                <div class="weaponInfoSubContainer right">
                  <span class="weaponInfo weaponTBS">
                    TBS:
                    <span class="weaponInfoValue">{{weapon.tbs | number:'1.2-4' }}</span>
                  </span>
                  <span class="weaponInfo weaponVelocity">
                    Velocity:
                    <span class="weaponInfoValue">{{weapon.speed}} m/s</span>
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="graphContainer">
        <span class="title">Damage Falloff over Distance</span>
        <canvas baseChart [type]="'line'" [data]="lineChartDataDamage" [options]="lineChartOptionsDMG"
          [legend]="lineChartLegend">
        </canvas>
      </div>
    </div>

    <div class="container">
      <div id="graphContainer">
        <span class="title">Velocity Falloff over Distance</span>
        <canvas baseChart [type]="'line'" [data]="lineChartDataVelocity" [options]="lineChartOptionsVel"
          [legend]="lineChartLegend">
        </canvas>
      </div>
    </div>
  </div>

  <!-- <div id="tableContainer">
      <table>
        <thead>
          <tr>
            <th>Distance</th>
            <th *ngFor="let weapon of pubgData.weapons">{{weapon.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distance of distances">
            <td class="distanceCell">{{distance}}</td>
            <td class="damageCell" *ngFor="let weapon of pubgData.weapons">
              {{calcDamage(weapon, {distance}) | number:'1.1-1'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</ion-content>
