ion-content {
  --padding-top: 10px;
  --padding-bottom: 15px;
}

/* ---------------------------------- */
/*            WEAPON SELECT           */
/* ---------------------------------- */

.weapon {
  position: relative;
  cursor: pointer;
  height: 120px;
  background-color: var(--ion-color-light);
  margin: 8px 15px;
  font-weight: bold;
  border-radius: var(--borderRadius);
  transition: background-color 0.2s ease-out;
  box-shadow: 0 0 5px 0 var(--ion-color-light-shade);

  & .debugBox {
    position: absolute;
    top: 15px;
    right: 15px;
    border-top: 1px solid lawngreen;
    border-right: 1px solid lawngreen;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
  }

  & img {
    height: 100%;
    aspect-ratio: 1/1;
  }
  & img.icon {
    height: 80%;
    margin: 3px 0px;
    margin-right: 3px;
  }

  & span.weaponType {
    position: absolute;
    color: var(--ion-color-step-text-800);
    top: 10px;
    left: 10px;
    font-size: 0.7em;
  }
  & span.weaponName {
    position: absolute;
    color: var(--ion-color-tertiary);
    font-weight: bold;
    top: 25px;
    left: 10px;
    font-size: 1.2em;
  }

  & .weaponInfoStrip {
    position: absolute;
    left: 10px;
    width: calc(100% - 120px - 10px);
    height: 26px;
    background-color: var(--ion-color-light);

    & * {
      float: left;
    }
    & .infoPill {
      height: 100%;
      background-color: rgba(var(--ion-color-dark-rgb), 0.1);
      padding: 0 10px;
      border-radius: var(--borderRadius);
      min-width: 50px;
      margin-right: 2px;
    }
    & .seperator {
      width: 0px;
      height: 50%;
      margin: 8px 5px 0 5px;
      border-right: 1px solid rgba(var(--ion-color-dark-rgb), 0.5);
    }
    & span.weaponInfo {
      color: var(--ion-color-step-text-800);
      height: 100%;
      line-height: 26px;
      font-size: 0.75em;
    }
  }
  & .weaponInfoStrip.basic {
    top: 50px;
  }
  & .weaponInfoStrip.extra {
    top: 80px;
  }

  & img.weaponImage {
    position: absolute;
    right: 20px;
    top: -20px;
    // right: 15px;
    // top: -20px;
    transform: rotate(-40.5deg);
  }
}

.weapon#AUG .weaponImage {
  transform: rotate(-38.8deg);
}
.weapon#Beryl\ M762 .weaponImage {
  transform: rotate(-41deg);
}
.weapon#Crossbow .weaponImage {
  transform: rotate(-37deg);
}
.weapon#DBS .weaponImage {
  transform: rotate(-39.5deg);
}
.weapon#DP-28 .weaponImage {
  transform: rotate(-41deg);
}
.weapon#Deagle .weaponImage {
  transform: rotate(-33deg);
}
.weapon#Deagle .weaponImage {
  transform: rotate(-33deg);
}
.weapon#Famas .weaponImage {
  transform: rotate(-45deg);
}
.weapon#G36C .weaponImage {
  transform: rotate(-41deg);
}
.weapon#Groza .weaponImage {
  transform: rotate(-45.5deg);
}
.weapon#JS9 .weaponImage {
  transform: rotate(-45deg);
}
.weapon#K2 .weaponImage {
  transform: rotate(-42deg);
}
.weapon#Kar98k .weaponImage {
  transform: rotate(-39deg);
}
.weapon#LynxAMR .weaponImage {
  transform: rotate(-42deg);
}
.weapon#M249 .weaponImage {
  transform: rotate(-41deg);
}
.weapon#MG3 .weaponImage {
  transform: rotate(-42deg);
}
.weapon#MK12 .weaponImage {
  transform: rotate(-42deg);
}
.weapon#MP5K .weaponImage {
  transform: rotate(-37deg);
}
.weapon#MP9 .weaponImage {
  transform: rotate(-37.5deg);
}
.weapon#Micro\ UZI .weaponImage {
  transform: rotate(-37deg);
}
.weapon#Mutant\ MK47 .weaponImage {
  transform: rotate(-41deg);
}
.weapon#O12 .weaponImage {
  transform: rotate(-44deg);
}
.weapon#P18C .weaponImage {
  transform: rotate(-33deg);
}
.weapon#P1911 .weaponImage {
  transform: rotate(-31deg);
}
.weapon#P90 .weaponImage {
  transform: rotate(-42.5deg);
}
.weapon#P92 .weaponImage {
  transform: rotate(-34deg);
}
.weapon#QBU .weaponImage {
  transform: rotate(-41deg);
}
.weapon#QBZ .weaponImage {
  transform: rotate(-42deg);
}
.weapon#R1895 .weaponImage {
  transform: rotate(-37deg);
}
.weapon#R45 .weaponImage {
  transform: rotate(-32deg);
}
.weapon#S1897 .weaponImage {
  transform: rotate(-37deg);
}
.weapon#SLR .weaponImage {
  transform: rotate(-42deg);
}
.weapon#Sawed-Off .weaponImage {
  transform: rotate(-38deg);
}
.weapon#Skorpion .weaponImage {
  transform: rotate(-37deg);
}
.weapon#UMP45 .weaponImage {
  transform: rotate(-38deg);
}
.weapon#Vector .weaponImage {
  transform: rotate(-37deg);
}
.weapon#Win94 .weaponImage {
  transform: rotate(-38deg);
}
