<ion-header fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar mode="ios" [(ngModel)]="searchText" (ionInput)="search()" (ionCancel)="search()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="printWeaponIDCSSValues()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen id="weaponProfiles">
  <div *ngIf="!loading">
    <div [id]="weapon.name" class="weapon" *ngFor="let weapon of filteredWeapons">

      <!-- <div class="debugBox"></div> -->

      <span class="weaponType">{{weapon.type}}</span>
      <span class="weaponName">{{weapon.name}}</span>

      <div class="weaponInfoStrip basic">
        <div class="infoPill">
          <img class="icon" src="assets/otherIcons/damage.svg" />
          <span class="weaponInfo"> {{weapon.damage}} </span>
        </div>
        <!-- <div class="seperator"></div> -->
        <div class="infoPill">
          <span class="weaponInfo">{{weapon.clip}} x</span>
          <img class="sprite " [src]="getWeaponAmmoIcon(weapon)" />
        </div>
      </div>

      <div class="weaponInfoStrip extra">
        <div class="infoPill">
          <img class="icon" src="assets/otherIcons/tbs.svg" />
          <span class="weaponInfo"> {{weapon.tbs | number:'1.2-3' }}</span>
        </div>
        <!-- <div class="seperator"></div> -->
        <div class="infoPill">
          <img class="icon" src="assets/otherIcons/velocity.svg" />
          <span class="weaponInfo"> {{weapon.speed}} m/s</span>
        </div>
      </div>

      <img class="sprite weaponImage" [src]="getWeaponIcon(weapon, false)" appDraggable />
    </div>

    <!-- <div class="container graph">
      <swiper-container style="height: 100%;">
        <swiper-slide>
          <span class="title">Damage Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataDamage"
            [options]="lineChartOptionsDMG" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
        <swiper-slide>
          <span class="title">Velocity Falloff over Distance</span>
          <canvas class="mainGraph" baseChart [type]="'line'" [data]="lineChartDataVelocity"
            [options]="lineChartOptionsVel" [legend]="lineChartLegend">
          </canvas>
        </swiper-slide>
      </swiper-container>
    </div> -->
  </div>

  <!-- <div id="tableContainer">
      <table>
        <thead>
          <tr>
            <th>Distance</th>
            <th *ngFor="let weapon of pubgData.weapons">{{weapon.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distance of distances">
            <td class="distanceCell">{{distance}}</td>
            <td class="damageCell" *ngFor="let weapon of pubgData.weapons">
              {{calcDamage(weapon, {distance}) | number:'1.1-1'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</ion-content>
