<ion-header fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Graph</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container graph">
    <span class="title">Damage over Distance</span>
    <canvas #damageChart class="mainGraph"></canvas>
  </div>
  <div class="container graph">
    <span class="title">Velocity over Distance</span>
    <canvas #velocityChart class="mainGraph"></canvas>
  </div>

  <!-- <div id="tableContainer">
    <table>
      <thead>
        <tr>
          <th>Distance</th>
          <th *ngFor="let weapon of pubgData.weapons">{{weapon.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distance of distances">
          <td class="distanceCell">{{distance}}</td>
          <td class="damageCell" *ngFor="let weapon of pubgData.weapons">
            {{calcDamage(weapon, {distance}) | number:'1.1-1'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</ion-content>
