ion-content {
  --padding-bottom: 85px;
}

ion-item {
  line-height: 30px;

  & * {
    min-height: 30px;
  }
}

/* ----------- App Version ---------- */

div.versionBox {
  position: absolute;
  width: calc(100% - 80px) !important;
  margin: 0 40px;
  bottom: 100px;
  text-align: center !important;
  padding: 15px 0;
  border-radius: 20px;
  transition: all 1s ease-out;
  user-select: none;
}
div.versionLabel:active {
  background: rgba(var(--ion-color-dark-rgb), 0.1);
}
span.versionLabel {
  font-size: 1em;
  font-weight: bold;
  color: var(--ion-color-medium) !important;
}
span.appName {
  color: var(--ion-color-primary);
  font-weight: bold;
}

ion-spinner {
  margin-right: 10px;
}
